*{
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    background-color: rgb(255, 141, 141);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(255, 108, 108);
    border-radius: 6px;
    padding: 20px 40px;
}

.container h1{
    text-align: center;
    color: rgb(255, 227, 227);
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #f8d4d4;
    padding: 13px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
}

.btn:active{
    transform: scale(0.97);
}

.text {
    margin-top: 30px;
}

.form {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form input:focus,
.form input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form input:focus + label span,
.form input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}